{% extends 'login/base.html' %}
{% load staticfiles %}
<link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
<script src="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery-3.4.1.js' %}"></script>
<!------ Include the above in your HEAD tag ---------->

{% block title %}登录{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
    {% if message %}
      <div class="alert alert-warning">{{ message }}</div>
    {% endif %}
      <img src="{% static 'logo.gif' %}" id="icon" alt="User Icon" />
      <h1>四川大学任务悬赏平台</h1>
    </div>
    <!-- Login Form -->
    <form method="POST">
    {% csrf_token %}
      <input type="text" id="username" class="fadeIn second" name="username" placeholder= "用户名" value="{{username}}">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder= "密码" value="{{ password }}">
     <span class="v5-yzm fr">
     <a href="#" class="next-captcha">
     <img src="{{ imgage_url }}"class="fadeIn fourth" class="captcha" alt="captcha">
     <input type="text"  class="fadeIn fourth" id="captcha1" name="captcha_1"  placeholder="验证码">
     </a>
     <input id="id_reg_captcha_0" class="fadeIn sixth" name="captcha_0" type="hidden" value="{{ hashkey }}">
     </span>
     

    {% comment %} <input type="text" id="username" class="fadeIn second" name="username" placeholder= "用户名" value="{{username}}"> {% endcomment %}
    <input type="submit"  value="登陆">
    
    {% comment %} <div class="form-group" type="submit">
                        <a class="btn btn-secondary btn-block">Log in</a>
    </div> {% endcomment %}
    </form>
    
    <!-- Remind Passowrd -->
    <div class="fadeIn sixth" id="formFooter">
      <a class="underlineHover" href="/register/">注册</a>
    </div>
      

  </div>
  <a href='/page-login/'>link</a>
</div>
{% endblock %}