{% extends 'task_platform/base.html' %}
{% load staticfiles %}
{% block content %}

<head>
  <meta charset="utf-8">
  <title>充值页</title>
  <meta name="keywords" content="HTML5 Template">
  <meta name="description" content="Forum - Responsive HTML5 Template">
  <meta name="author" content="Forum">
  <link rel="shortcut icon" href="favicon/favicon.ico">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<main id='tt-pageContent'>
    <div>
    <div class="container"style="margin-top:210px;" >
    <center>
        <form action="/alipay/pay/" method="POST">
            {% csrf_token %}
            <input type="text" class="form-control payout" style="height:50px" name="money">
            <input type="submit" class="payoutbutton" style="height:50px;" value="支付">
        </form>
    </center>
    </div>
    </div>
</main>
{% endblock %}
