.checkbox-item{
	margin-right: 20px;
	display: inline-block;	
	position: relative;
}
.checkbox-item label{
	line-height: 34px;
	vertical-align: middle;
	cursor: pointer;
}
.checkbox-item input[type="checkbox"] {
	margin-right: 5px;
	width: 20px;
	height: 20px;
	visibility: hidden;
}
.checkbox-item label:BEFORE {
	content: '';
	position: absolute;
	top: 5px;
	left: 0px;
	width: 20px;
	height: 20px;
	border-radius: 2px;
	border: 1px solid #bbb;
	background: #fff;
	cursor: pointer;
}
.checkbox-item input[type="checkbox"]:checked +label:BEFORE {
	content: '\2713';
	display: block;
	line-height: 20px;
	text-align: center;
	background-color: #1890FF;
    color: #ffffff;
}
