.box-container {
    position: relative;
}
.border-right {
    padding: 0px 35px 0px 0px; 
}

    .border-right:after {
        content: '';
        position: absolute;
        left: auto;
        top: auto;
        bottom: 15px;
        right: 0;
        height: 52%;
        width: 3px;
        background-color: #ccb5b5;
    }