<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#send_message').click(function () {
                var socket = new WebSocket("ws://" + window.location.host + "/test_websocket");
                socket.onopen = function () {
                    console.log('WebSocket open');//成功连接上Websocket
                    socket.send($('#message').val());//发送数据到服务端
                };
                socket.onmessage = function (e) {
                    console.log('message: ' + e.data);//打印服务端返回的数据
                    $('#messagecontainer').append('<p>' + e.data + '</p>');
                };
            });
        });
    </script>
</head>
<body>

    <input type="text" id="message" value="TEST" />
    <button type="button" id="send_message">发送</button>
    <h1>消息列表</h1>
    <div id="messagecontainer"></div>

</body>
</html>