{% extends 'task_platform/base.html' %}
{% load staticfiles %}
{% block title %} 关于团队 {% endblock %}
{% block content %}
<body>
<main id="tt-pageContent">
<div class="container">
<h1>关于团队</h1>
<hr />
<h2>网站性质与介绍</h2>
<p><strong>四川大学任务悬赏平台</strong>是由本团队自主开发的<strong>四川大学学生</strong>范围内的任务悬赏交互平台网站。 </p>
<p>基于观察和信息的收集，我们发现同学们在日常生活中一些事情需要其他同学帮忙，并愿意支付一定金钱；
与此同时也存在着空闲时间较多的同学乐意帮忙并赚取一点零花钱，由此催生出许多校园内的互助群聊。<br />
群聊平台方便沟通和交流，但也有着认证系统不健全、沟通交流效率低、交易过程无保障、缺少总结与分类等
不方便、不友好且容易损害同学们的利益的硬伤。  </p>
<p>由此，我们开发出这样一个任务悬赏平台，在校园认证保障下，为同学们的任务-赏金交易提供一个整合的平台，
第三方的交易介入使双方利益更能得到保障；身份信息更能得到保护；环境更加洁净友好；任务规范发布使效率提高。  </p>
<blockquote>
<ul>
<p>平台功能和特点包括</p>
<li>账号注册均通过四川大学学生邮箱和验证码验证，保证身份真实可信</li>
<li>对发布的<strong>赏金模式</strong>任务，通过可做任务的投标竞争赚取任务资格和任务赏金</li>
<li>对发布的<strong>猎人模式</strong>任务，通过可发任务的投标竞争以赏金换取猎人服务</li>
<li>针对每个任务，发布者和接收者可以在聊天室进行一对一的细节交流，任务结束则终止交流</li>
<li>任务的发布接收均为系统自动分配的匿名代号</li>
<li>赏金与RMB1：1进行充值和兑现，平台通过对任务赏金的抽成获得收入</li>
<li>对任务进行以及赏金交易中不符合法律规范的行为予以上报至保卫处或派出所处理</li>
<li>团队保证零广告零推广，给同学们洁净舒适的平台环境</li>
</ul>
</blockquote>
<hr />
<h2>团队成员</h2>
<ul>
    <li>李天琪</li>
    <li>贺翔</li>
    <li>王子宇</li>
    <li>侯雪娟</li>
</ul>
<a href="mailto:platform_office@163.com"><img src="{% static 'images/Emile.svg' %}" width="25" height="20"/>联系我们</a>
<hr />
</div>
</main>
</body>
{% endblock %}