{% extends 'task_platform/base.html' %}
{% block title %} 任务详情 {% endblock %}
{% block content %}
<main id="tt-pageContent">
  <div class="container">
    <div class="tt-single-topic-list">
      <div class="tt-item">
        <div class="tt-single-topic">
          <div class="tt-item-header">
            <div class="tt-item-info info-top">
              <div class="tt-avatar-icon">
                <i class="tt-icon"><svg>
                    <use xlink:href="#icon-ava-d"></use>
                  </svg></i>
              </div>
              <div class="tt-avatar-title">
                <a href="#">{{ publisher }}</a>
              </div>
              <a href="#" class="tt-info-time">
                <i class="tt-icon"><svg>
                    <use xlink:href="#icon-time"></use>
                  </svg></i>{{ pub_time }}
              </a>
            </div>
            <h3 class="tt-item-title">
              <a href="#">{{ task_description }}</a>
            </h3>
            <div id='warp'>
              {% for tag in tag_list %}
              <a href="#"><span class="tt-badge">{{ tag }}</span></a>
              {% endfor %}
            </div>
          </div>
          <div class="tt-item-description">
            <h4 class="tt-title">任务详情</h4>
            {{ task_detail | safe }}
          </div>
          </div>
        </div>
        <div class="tt-item">
          <div class="tt-info-box">
            <h6 class="tt-title">Thread Status</h6>
            <div class="tt-row-icon">
              <div class="tt-item">
                <a href="#" class="tt-icon-btn tt-position-bottom">
                  <i class="tt-icon"><svg>
                      <use xlink:href="#icon-reply"></use>
                    </svg></i>
                  <span class="tt-text">283</span>
                </a>
              </div>
              <div class="tt-item">
                <a href="#" class="tt-icon-btn tt-position-bottom">
                  <i class="tt-icon"><svg>
                      <use xlink:href="#icon-view"></use>
                    </svg></i>
                  <span class="tt-text">10.5k</span>
                </a>
              </div>
              <div class="tt-item">
                <a href="#" class="tt-icon-btn tt-position-bottom">
                  <i class="tt-icon"><svg>
                      <use xlink:href="#icon-user"></use>
                    </svg></i>
                  <span class="tt-text">168</span>
                </a>
              </div>
              <div class="tt-item">
                <a href="#" class="tt-icon-btn tt-position-bottom">
                  <i class="tt-icon"><svg>
                      <use xlink:href="#icon-like"></use>
                    </svg></i>
                  <span class="tt-text">2.4k</span>
                </a>
              </div>
              <div class="tt-item">
                <a href="#" class="tt-icon-btn tt-position-bottom">
                  <i class="tt-icon"><svg>
                      <use xlink:href="#icon-favorite"></use>
                    </svg></i>
                  <span class="tt-text">951</span>
                </a>
              </div>
              <div class="tt-item">
                <a href="#" class="tt-icon-btn tt-position-bottom">
                  <i class="tt-icon"><svg>
                      <use xlink:href="#icon-share"></use>
                    </svg></i>
                  <span class="tt-text">32</span>
                </a>
              </div>
            </div>
          </div>
          <label>报价排序
            <select name="dropdown">
              {% for choice in sort_choice_list %}
              <option id="sort_choice" value={{ choice }}>{{ choice }}</option>
                {% endfor %}
            </select>
          </label>

          <form class="form-default" method='GET'>
            {% csrf_token %}
            {% if user_task_list %}
            {% for sig in user_task_list %}
            <div class="tt-item">
              <div class="tt-single-topic">
                <div class="tt-item-header pt-noborder">
                  <div class="tt-item-info info-top">
                    <div class="tt-avatar-icon">
                      <i class="tt-icon"><svg>
                          <use xlink:href="#icon-ava-t"></use>
                        </svg></i>
                    </div>
                    <div class="tt-avatar-title">
                      <a href="#">{{ sig.submit_money }}</a>
                    </div>
                    <a href="#" class="tt-info-time">
                      <i class="tt-icon">
                        <svg>
                          <use xlink:href="#icon-time"></use>
                        </svg></i>
                      {{ sig.pub_time }}
                    </a>
                  </div>
                </div>
                <div class="tt-item-description">
                  {{ sig.description }}
                </div>
                  <button name="accept" type="submit" value={{ sig.id }}>接受</button>
                </div>
              </div>
              {% endfor %}
              {% endif %}
          </form>
          </div>
        <div class="tt-wrapper-inner">
            <h4 class="tt-title-separator"><span>我是分隔线_（：3 」∠）_ </span></h4>
        </div>
          {% if message %}
          <div class="tt-topic-list">
            <div class="tt-item tt-item-popup">
              <div class="tt-col-message">
                {{ message }}
                </div>
                <div class="tt-col-btn">
                  <button type="button" class="btn-icon" name='cancel'>
                    <svg class="tt-icon">
                      <use xlink:href="#icon-cancel"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            {% endif %}
            <form class="form-default" method="POST">
              {% csrf_token %}
              <div class="tt-wrapper-inner">
                <div class="pt-editor form-default">
                  <h6 class="pt-title">提交你的报价</h6>
                  <div class="pt-row">
                    <div class="col-left">
                      <label>
                        <span class="tt-text">报价</span>
                      </label>
                      <input type="text" class="form-control" name="money"></input>
                    </div>
                    <div class="col-right tt-hidden-mobile">
                      <a href="#" class="btn btn-primary">返回顶部</a>
                    </div>
                  </div>
                  <div class="form-group">
                    <textarea name="description" class="form-control" rows="5" placeholder="Lets get started"></textarea>
                  </div>
                  <div class="pt-row">
                    <div class="col-left">
                      <p>写出你想说的话，最多30字</p>
                    </div>
                    <div class="col-auto">
                      <input type="submit" class="btn btn-secondary btn-width-lg" value="提交报价"></input>
                    </div>
                  </div>
                </div>
            </form>
          </div>
        </div>
</main>
{% endblock %}