{% extends 'task_platform/base.html' %}
{% load staticfiles %}
{% block title %} 新手教程 {% endblock %}
{% block content %}
<body>
<main id="tt-pageContent">
<div class="container">
<h1>新手教程</h1>
<hr />
<ul>
<li><a href="#1">1. 注册与登录</a></li>
<li><a href="#1.1">1.1 注册</a></li>
<li><a href="#1.2">1.2 登录</a></li>
<li><a href="#2">2. 查看、修改个人信息</a></li>
<li><a href="#3">3. 发布任务</a></li>
<li><a href="#3.1">3.1 开始任务</a></li>
<li><a href="#3.2">3.2 完成或撤销任务</a></li>
<li><a href="#4">4. 投标接取任务</a></li>
<li><a href="#4.1">4.1 接取任务</a></li>
<li><a href="#4.2">4.2 主动中止任务</a></li>
<li><a href="#5">5. 基于任务的聊天</a></li>
<li><a href="#6">6. 赏金的充值、提现</a></li>
<li><a href="#6.1">6.1 赏金的充值</a></li>
<li><a href="#6.2">6.2 赏金的提现</a></li>
</ul>
<hr />
<h2 id="1">1. 注册与登录</h2>
<h3 id="1.1">1.1 注册</h3>
<blockquote>
<ol>
<li>点击主页右上角<img src="{% static 'images/register.png' %}" width="50"/>按钮进入注册界面  </li>
<li>根据注册页面指引填写个人信息。用户名一旦确认不可更改<br />
     注意：<strong>必须使用学生邮箱进行注册，以保证四川大学学生身份信息真实</strong>。  </li>
    <li>填写完毕后点击<img src="{% static 'images/createuser.png' %}" width="300"/>按钮，并<strong>登录学生邮箱验收认证邮件并点击链接完成验证</strong></li>
</ol>
</blockquote>
<h3 id="1.2">1.2 登录</h3>
<blockquote>
<ol>
<li><strong>注册邮箱验证成功后才可以进行登录操作</strong></li>
<li>正确填写用户名、密码和验证码后点击<img src="{% static 'images/logon.png' %}" width="50"/>按钮进行登录，将自动跳转至主页，可以看到登录按钮显示称为用户名，表示登录成功</li>
</ol>
</blockquote>
<h2 id="2">2. 查看、修改个人信息</h2>
<blockquote>
<ol>
<li>登录后，点击主页上方显示用户名的按钮（原本是登录按钮）进入个人主页，可查看账号现有赏金以及与自己有关的各种状态的任务</li>
<li>点击主页上方<img src="{% static 'images/setting.png' %}" width="15"/>按钮，网站右侧弹出个人信息界面</li>
<li>根据页面指引更改需要修改的个人信息，完毕后点击<img src="{% static 'images/save.png' %}" width="150"/>按钮即可保存</li>
<li>点击保存按钮或页面其他位置均可退出修改信息界面</li>
</ol>
</blockquote>
<h2 id="3">3. 发布任务</h2>
<blockquote>
<ol>
<li>登录后点击主页右上角<img src="{% static 'images/add.png' %}" width="25"/>按钮进入发布界面</li>
<li>根据页面指引填写发布任务所需信息(为任务信息完整，请尽可能多的描述清晰！)，点击选择<strong>赏金模式</strong>或<strong>猎人模式</strong></li>
<li>点击<img src="{% static 'images/createtask.png' %}" width="150"/>按钮，创建任务<br />
     注意：<strong>发布任务需要缴纳5元押金，若账号目前赏金不足将进入充值页面进行充值</strong></li>
<li>若任务超时，/////////////////////////////////////////////////////////////////////////////////////////////</li>
</ol>
</blockquote>
<h3 id="3.1">3.1 开始任务</h3>
<blockquote>
<ol>
<li>从主页或个人页面的“未开始任务”分类中找到想要开始的任务，点击标题进入任务详情</li>
<li>详情页下方显示现有投标用户以及竞争价位。选择自己最心动的猎人，框选后点击<img src="{% static 'images/starttask.png' %}" width="100"/>按钮，确定即可开始任务</li>
</ol>
</blockquote>
<h3 id="3.2">3.2 完成或撤销任务</h3>
<blockquote>
<ol>
<li>从主页或个人页面的“进行中任务”分类中找到想要完成或撤销的任务，点击标题进入任务详情</li>
<li>点击<img src="{% static 'images/finishtask.png' %}" width="150"/>按钮即可完成任务，押金与对应任务用户完成交易</li>
<li>点击<img src="{% static 'images/withdrawtask.png' %}" width="150"/>按钮即可撤销任务，因你方中断进行中任务，押金一部分将作为惩罚金不被退回</li>
</ol>
</blockquote>
<h2 id="4">4. 投标接取任务</h2>
<h3 id="4.1">4.1 接取任务</h3>
<blockquote>
<ol>
    <li>从主页或个人页面的“进行中任务”分类中找到想要完成或撤销的任务，点击标题进入任务详情</li>
    <li>如果想接受这个任务，在页面下方根据提示提出并填写自己的报价。
        注意：<strong>提交报价时你需要支付与你的报价相同金额的赏金币作为押金。</strong></li>
    <li>填写完成后，点击<img src="{% static 'images/submit.png' %}" width="150"/>按钮进行提交。</li>
    <li>页面显示“提交成功”字样，表示提交成功。期待自己提供的价位和描述可以使任务发布者心动吧！</li>
</ol>
</blockquote>
<h3 id="4.2">4.2 主动终止任务</h3>
<blockquote>
<ol>
    <li>从主页或个人页面的“进行中任务”分类中找到想要中止的任务，点击标题进入任务详情</li>
    <li>在页面下方点击<img src="{% static 'images/terminaltask.png' %}" width="150"/>按钮进行任务中止。</li>
    <li>说明：//////////////////////////////////////////////////////////////////////////////////////////////</li>
</ol>
</blockquote>
<h2 id="5">5. 基于任务的聊天</h2>
<blockquote>
<ol>
    <li>从个人页面的任务列表中找到想要与对方进行聊天任务，点击“聊天室”下的字母图标进入聊天室界面</li>
    <li>在聊天室界面左侧显示与你相关的所有任务，点击即可切换至相应任务与其发布者/接收者进行聊天</li>
    <li>在界面右下角聊天框输入想要发送的内容，点击右下角<img src="{% static 'images/send.png' %}" width="100"/>按钮即可发送</li>
    <li>注意：<strong>相关任务结束后便不可以继续聊天了哦！</strong></li>
</ol>
</blockquote>
<h2 id="6">6. 赏金的充值、提现</h2>
<h3 id="6.1">6.1 赏金的充值</h3>
<blockquote>
<ol>
    <li>登录后，在个人页面的右上方点击<img src="{% static 'images/recharge.png' %}" width="100"/>按钮进入充值界面</li>
    <li>填写需要充值的赏金数量后（与RMB1：1，单位为元），点击<img src="{% static 'images/gopay.png' %}" width="50"/>按钮跳转至支付界面</li>
    <li>使用支付宝扫码或网页支付，成功后可以返回至个人页面查看赏金余额</li>
</ol>
</blockquote>
<h3 id="6.2">6.2 赏金的提现</h3>
<blockquote>
<ol>
    <li>/////////////////////////////////////////////////////////////////////////////////////////////////////////////</li>
</ol>
</blockquote>
</div>
</main>
</body>
{% endblock %}