{#task_platform/templates/task_platform/index.html#}
{% extends 'task_platform/base.html' %}
{% load staticfiles %}
{% block content %}
<main id="tt-pageContent" class="tt-offset-small">
  <div class="container">
    <div class="tt-topic-list">
      <div class="tt-list-header" style="background-color:#f8f9fb">
        <div class="tt-col-value" style="width: 17%;"><center>类型</center></div>
        <div class="tt-col-category" style="width: 90%">简述</div>
        <div class="tt-col-category" style="width: 30%;padding-left:5.5%">任务状态</div>
        <div class="tt-col-value hide-mobile" style="width: 20%;padding-left:2%">需求人数</div>
        <div class="tt-col-value hide-mobile" style="width: 20%;padding-left:2%">竞争人数</div>
        <div class="tt-col-value hide-mobile" style="width: 20%;padding-left:2%">发布时间</div>
        <div class="tt-col-value" style="width: 20%;padding:0%">预期耗时</div>
      </div>

      {% if tag_list %}
      {% for task, color, tags in tag_list %}

      <div class="tt-item" style="">
        <div class="tt-col-avatar">
          {% if task.task_class == "赏金模式" %}
          <svg class="tt-icon">
            <use xlink:href="#bounty"></use>
          </svg>
          {% else %}
          <svg class="tt-icon">
            <use xlink:href="#hunter"></use>
          </svg>
          {% endif %}
        </div>
        <div class="tt-col-description">
          <h6 class="tt-title"><a href="{% url 'detail' task.id %}" name="taskdesc">

              {% if task.task_state == "完成" %}
                <svg class="tt-icon">
                  <use xlink:href="#icon-verified"></use>
                </svg>
              {% elif task.task_state == "中止" or task.task_state == "撤销" or task.task_state == "超时" %}
                <svg class="tt-icon">
                  <use xlink:href="#icon-locked"></use>
                </svg>
              {% endif %}
              {{ task.task_description }}
                        </a></h6>
          <div class="row align-items-center no-gutters">
            <div class="col-11">
              <ul class="tt-list-badge">
                <li class="show-mobile"><a href="#"><span class="{{ color }}">{{ task.task_state }}</span></a></li>
                {% for tag in tags %}
                <li><a><span class="tt-badge">{{ tag }}</span></a></li>
                {% endfor%}
              </ul>
            </div>
            <div class="col-1 ml-auto show-mobile">
              <div class="tt-value">{{ task.expected_time_consuming }}h</div>
              </div>
            </div>
          </div>
          <div class="tt-col-category"><span class="{{ color }}">{{ task.task_state }}</span></div>
          <div class="tt-col-value hide-mobile">{{ task.people_needed }}</div>
          <div class="tt-col-value tt-color-select hide-mobile">{{ task.people_now }}</div>
          <div class="tt-col-value hide-mobile">{{ task.pub_time }}</div>
          <div class="tt-col-value hide-mobile"> {{ task.expected_time_consuming }}h </div>
          </div>
          {% endfor %}
    <div class="tt-item" style="display:none; text-align:center;" id="nosearchresult">
      <span style="position:relative;left:40%;">
        <font style="font-size:20px;color:#000000">
          抱歉,没有您想要的搜索结果!
        </font>
      </span>
    </div>
                {% else %}
                <!-- No task -->
                {% endif %}

              </div>
            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/2.0.0/trianglify.min.js"></script>
<script>
	var pattern = Trianglify({
		width: window.innerWidth,
		height: window.innerHeight
	});
	document.body.style.backgroundSize = "cover"; 
 
document.body.style.backgroundImage = "url(" + pattern.png() + ")";

{% comment %} searchpart {% endcomment %}
  var oTxt = document.getElementById('thesearch');
  var cpLock = false;
  $('#thesearch').on('compositionstart', function () {
        cpLock = true;
    });
  $('#thesearch').on('compositionend', function () {
        cpLock = false;
        var keyWord = oTxt.value;
        console.log(keyWord);
        MySearch(keyWord);
    });
  $('#thesearch').on('input', function () {
        if (!cpLock) {
            var keyWord = oTxt.value;
            console.log(keyWord);
            MySearch(keyWord);
        }
    });
  function MySearch (word) {
    var tas = document.getElementsByName("taskdesc");
    var t = 0;
    for(i = 0; i < tas.length; i++)
    {
      {% comment %} console.log(tas[i].innerHTML+" 1"); {% endcomment %}
      tas[i].innerHTML = tas[i].innerHTML.replace('<font style="display: inline;background: rgba(255,255,128,0.36);"><strong>', "");
      tas[i].innerHTML = tas[i].innerHTML.replace("</strong></font>", "");
      {% comment %} console.log(tas[i].innerHTML+" 2"); {% endcomment %}
      if(tas[i].innerText.indexOf(word) == -1)
      {
        t++;
        tas[i].parentNode.parentNode.parentNode.style.display = "none";
      }
      else
      {
        tas[i].parentNode.parentNode.parentNode.style.display = "";
        tas[i].innerHTML = tas[i].innerHTML.replace(word, "<font style='display: inline;background: rgba(255,255,128,0.36);' ><strong>"+word+"</strong></font>");
      }
    }
    if(t==tas.length)
    {
      document.getElementById("nosearchresult").style.display = "";
    }
    else
    {
      document.getElementById("nosearchresult").style.display = "none";
    }
    }
</script>
{% comment %} <script type="text/javascript">var now=(new Date).getTime();15761664e5<now&&now<1576252799e3&&(document.querySelector("html").style.filter="grayscale(100%)")</script> {% endcomment %}
</main>
{% endblock %}