{#task_platform/templates/task_platform/index.html#}
{% extends 'task_platform/base.html' %}
{% load staticfiles %}
{% block content %}
<main id="tt-pageContent" class="tt-offset-small">
  <div class="container">
    <div class="tt-topic-list">
      <div class="tt-list-header">
        <div class="tt-col-value">类型</div>
        <div class="tt-col-topic">简述</div>
        <div class="tt-col-category">任务状态</div>
        <div class="tt-col-value hide-mobile">需求人数</div>
        <div class="tt-col-value hide-mobile">竞争人数</div>
        <div class="tt-col-value hide-mobile">发布时间</div>
        <div class="tt-col-value">预期耗时</div>
      </div>
      {% comment %} <div class="tt-topic-alert tt-alert-default" role="alert">
        <a href="#" target="_blank">4 new posts</a> are added recently, click here to load them.
      </div> {% endcomment %}

      {% if latest_task_list %}
      {% for task in latest_task_list %}
      <div class="tt-item tt-itemselect">
        <div class="tt-col-avatar">
          <svg class="tt-icon">
            <use xlink:href="#icon-ava-k"></use>
          </svg>
        </div>
        <div class="tt-col-description">
          <h6 class="tt-title"><a href="page-single-topic.html">
              <!-- 跳转链接 -->>
              <svg class="tt-icon">
                <use xlink:href="#icon-pinned"></use>
              </svg>
              {{ task.task_description }}
                        </a></h6>
          <div class="row align-items-center no-gutters">
            <div class="col-11">
              <ul class="tt-list-badge">
                <li class="show-mobile"><a href="#"><span class="tt-color01 tt-badge">{{ task.task_state }}</span></a></li>
                <li><a href="#"><span class="tt-badge">#type.1</span></a></li>
                <li><a href="#"><span class="tt-badge">#type.2</span></a></li>
              </ul>
            </div>
            <div class="col-1 ml-auto show-mobile">
              <div class="tt-value">{{ task.expected_time_consuming }}h</div>
              </div>
            </div>
          </div>
          <div class="tt-col-category"><span class="tt-color01 tt-badge">{{ task.task_state }}</span></div>
          <div class="tt-col-value hide-mobile">{{ task.people_needed }}</div>
            <div class="tt-col-value tt-color-select hide-mobile">{{ task.people_now }}</div>
              <div class="tt-col-value hide-mobile">{{ task.pub_time }}</div>
                <div class="tt-col-value hide-mobile"> {{ task.expected_time_consuming }}h </div>
                </div>
                {% endfor %}
                {% else %}
                {% endif %}

                <div class="tt-row-btn">
                  <button type="button" class="btn-icon js-topiclist-showmore">
                    <svg class="tt-icon">
                      <use xlink:href="#icon-load_lore_icon"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
</main>
{% endblock %}