{% extends 'chatroom/base.html' %}
{% load staticfiles %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title聊天室</title> <meta name="keywords" content="HTML5 Template">
    <link href="{% static 'css/bootstrap-4.3.1.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <meta name="description" content="Forum - Responsive HTML5 Template">
    <meta name="author" content="Forum">
    <link rel="shortcut icon" href="favicon/favicon.ico">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/chatroom.css' %}">
    <script src="{% static 'js/chat.js' %}"></script>
</head>

<body>
  <main id="tt-pageContent" class="tt-offset-small">
    <div class="container">
      <div class="tt-messages-layout">
        <div class="row no-gutters">


          <div class="col-md-4 tt-aside" id="js-aside">
            <a href="#" class="tt-title-aside">
              <h2 class="tt-title">
                在线用户
              </h2>
              <i class="tt-icon">
                <svg class="icon">
                  <use xlink:href="#icon-pencil"></use>
                </svg>
              </i>
            </a>
            <div class="tt-all-avatar">
              <div class="tt-list-avatar js-init-scroll" style="height:500px;overflow:auto;">
                <div class='tt-col-description'>
                  <div class='tt-title' id='userlist'></div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-8">
            <div class="tt-title-content">
              <h2 class="tt-title" id="userid"></h2>
              <a href="#" class="tt-icon-link">
                <i class="tt-icon">
                  <svg class="icon">
                    <use xlink:href="#notification"></use>
                  </svg>
                </i>
              </a>
            </div>

            <div id="scroll_div" class="tt-list-time-topic" style="height:380px;overflow:auto;">
              <div name="scroll_div" class="tt-item" >
                <div class="tt-col-description" style="padding:0 0 0 0px;">
                  <span style="margin:0px" id='historymsg'></span>
                </div>
              </div>
            </div>

            <div class="tt-wrapper-inner">
              <div class="form-group">
                <h6 class="pt-title">聊天框</h6>
                <script src="{% static "ckeditor/ckeditor-init.js" %}"></script>
                <script src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
                <textarea id='msg' name="new_message" class="form-control" rows="3" placeholder="来发消息吧！"></textarea>
                  <script>
                    CKEDITOR.replace('new_message', {
                      uiColor: '#F8F9FB',
                      toolbar: [
                        ['Smiley'],
                        ['Bold', 'Italic', 'Underline'],
                        ['TextColor', 'BGColor'],
                        ['Image'],
                        ['NumberedList', 'BulletedList'],
                        ['Maximize']
                      ],
                      skin: 'moono-lisa',
                      tabSpaces: 4,
                      height: 150,
                      startupFocus: true
                    });
                  </script>
              </div>
              <div class="pt-row">
                <div class="col-auto ml-auto">
                  <input type="button" onclick="send()" name='send' class="btn btn-secondary btn-custom" value="发送"></input>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </main>
</body>

<!--脚本开始-->
<!--脚本结束-->

{% endblock %}